// **Big Desktop
$UpScreen: "only screen and (min-width: 1630px)";

// **Desktop
$desktopScreen: "only screen and (min-width: 1280px)";

// **Tablet
$tabletScreen: "only screen and (min-width: 790px)";

// **Mobile
$mobileScreen: "only screen and (min-width: 420px)";

// **Small Mobile
$downScreen: "only screen and (max-width: 370px)";

// Menu
$menuSwitch: "only screen and (min-width: 970px)";

// Others
// $other: "only screen and (min-width: 1365px)";